body {
    background-color: lightskyblue;
}



h1 {
    text-align: center;
    font-family: Trebuchet MS;
}

.scores {
    float: left;
    font-weight: bold;
}

.timer {
    float: right;
    font-weight: bold;
}

p {
    text-align: center;
    font: bold;
}

#start-button {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

#choices {
    list-style-type: none;
    font-family: Trebuchet MS;
}

#choice1:hover {
    background-color: purple;
    border-style: solid;
    font: bold;
}

#choice2:hover {
    background-color: purple;
    border-style: solid;
    font: bold;
}

#choice3:hover {
    background-color: purple;
    border-style: solid;
    font: bold;
}

#choice4:hover {
    background-color: purple;
    border-style: solid;
    font: bold;
}

#questions {
    text-align: center;
    font-family: Trebuchet MS;
}
